body {
  font-family: "Fira Sans", sans-serif;
}

.card {
  margin-top: 20px;
}

.wrapper {
  background-image: url("../images/closeup-photo-of-black-computer-keyboard-s-left-side-keys-698808.jpg");
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  background: none;
}

.row {
  margin-top: 30px;
}

.container {
  max-width: 80%;
  margin-top: 3%;
}

.text-center {
  text-align: center;
}

.top-line {
  color: white;
  margin-top: 8%;
  font-size: 36px;
}

.green-background {
  background-color: #459c53;
  color: white;
}

.green-navbar-text {
  color: #459c53 !important;
}

.sub-line {
  color: white;
  margin-top: 3%;
  font-size: 44px;
}

.top-button {
  display: block;
  margin: auto;
  margin-top: 5%;
  padding: 10px 20px;
  font-size: 16;
}

button {
  margin: auto;
}
